* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
div.container img {
    min-width: 100%;
    max-width: 100%;
}

.img_1366,
.img_960,
.img_480,
.img_360 {
    display: none;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

footer {
    background: #fa5fb7;
    padding: 10px 100px;
    max-width: 100%;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

footer .navigation_items {
    position: relative;
    display: flex;
}

footer .navigation_items li {
    list-style: none;
    margin: 10px;
}

footer .navigation_items li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

footer .navigation_items li a:hover {
    color: var(--color_amarillo);
}

/* WhatsApp */
img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
}
img.btn-whatsapp:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
}

@media (max-width: 1440px) {
    .img_1366 {
        display: block;
    }

    .img_1920,
    .img_960,
    .img_480,
    .img_360 {
        display: none;
    }
}

@media (max-width: 1366px) {
    .img_1366 {
        display: block;
    }

    .img_1920,
    .img_960,
    .img_480,
    .img_360 {
        display: none;
    }
}

@media (max-width: 1024px) {
    .img_960 {
        display: block;
    }

    .img_1920,
    .img_1366,
    .img_480,
    .img_360 {
        display: none;
    }
}

@media (max-width: 960px) {
    .img_960 {
        display: block;
    }

    .img_1920,
    .img_1366,
    .img_480,
    .img_360 {
        display: none;
    }
}

@media (max-width: 480px) {
    .img_480 {
        display: block;
    }

    .img_1920,
    .img_1366,
    .img_960,
    .img_360 {
        display: none;
    }
}

@media (max-width: 320px) {
    .img_360 {
        display: block;
    }

    .img_1920,
    .img_1366,
    .img_480,
    .img_960 {
        display: none;
    }
}